body {
    font-family: 'Playfair Display', serif;
}
.hero {
    background: url('https://image.freepik.com/foto-gratis/mujer-barista-haciendo-cafe-mostrador-cafeteria-barista-mujer-trabajando-cafe_104603-2419.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.hero h1 {
    font-size: 4rem;
    font-weight: bold;
}